@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;0,700;1,600&family=Nunito:wght@200;300;600;800&display=swap');

:root {
  --title-font: 'Josefin Sans', sans-serif;
  --body-font: 'Nunito', sans-serif;
  --light-purple: #e0dffd;
  --dark-purple: #7766c6;
  --yellow: #ffc212;
  --non-black: #2c2d30;
  --blue: #46467a;
  --pink: #f9b0c3;
  --light-grey: #ecedf2;
  --dark-grey: #787883;
  --accent-purple: #C1BBED;
}

* {
 /*outline: 1px solid limegreen !important;*/
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  box-sizing: border-box;
}
root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  /*height: 100%;
    width: 100%;*/
  background-color: var(--light-purple);
}

.welcomeLogoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.welcomeLogoImagen {
  width: 75%;
}

.logInLink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  width: 75%;
  
}

.welcomeLoginButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.welcomeLoginButton {
  border: 0.3vw solid var(--dark-purple);
  background: var(--light-purple);
  color: var(--dark-purple);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 75%;
  padding: 2.5%;
  border-radius: 20px;
  border-bottom: 1.2vw solid var(--dark-purple);
  font-size: 5vw;
  font-weight: 600;
  margin-bottom: 1vh;
  cursor: pointer;
}

.buttonHref {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.footer {
  margin-top: 10%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-items: flex-end;
  margin: 0;
  width: 100%;
}

.logoImagen {
  width: 50%;
}
.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoImagenSignUp {
  width: 50%;
}

.logoContainerSignUp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  margin-left: 10%;
  width: 80vw;
  /*height: 100vh;*/
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modalForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.userForm{
  width: 80%;
}
.inputPlusEye{
display: flex;
flex-direction: row;
gap: 5%;
}
.eye{
  position: relative;
  width: 70%;
}
#openEye{
display: none;
width: 60%;
}
.buttonsContainer {
  width: 65%;
  background-color: var(--dark-purple);
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: 10px;
  color: var(--light-purple);
  white-space: nowrap;
}
.actionButton {
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 10px;
  color: var(--light-purple);
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
}
.moveButton {
  position: absolute;
  width: 50%;
  height: 90%;
  margin: 0.5%;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: var(--light-purple);
  color: var(--dark-purple);
  font-size: 2rem;
  font-weight: 600;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translateX(0);
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  text-align: center;
}
.buttonLink {
  width: 50%;
  text-align: center;
  color: var(--dark-purple);
  cursor: pointer;
  padding:5% 3% 5% 3%;
}
.rightButton {
  transform: translateX(98%);
  transition: all 0.5s ease-in-out;
}
.inputGroup {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   margin-top: 2em;
}
input {
  width: 100%;
  padding: 2vh;
  border: none;
  background: transparent;
  border-bottom: 0.3vh solid var(--dark-purple);
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 5%;
  font-size: 2rem;
}

input:focus {
  border-color: #fc83bb;
  outline: none;
}

.submit {
  width: 100%;
  padding: 1em;
}
.submitButton {
  border: 0.3vw solid var(--dark-purple);
  background: var(--light-purple);
  color: var(--dark-purple);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 2.5%;
  border-radius: 0.5em;
  border-bottom: 1.2vw solid var(--dark-purple);
  font-size: 5vw;
  font-weight: 600;
  /*margin: 1vh;*/
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 10%;
}
.googleButton{
background: var(--accent-purple);
border: none;
border-radius: 0px 10px 10px 0px;

}
.googleImage{
width: 47%;
}

.totalButton{
  margin-top: 1vh;
  outline: none;
  padding: 2%;
  color: var(--dark-purple);
  font-size: 2rem;
  background-color:var(--accent-purple);
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;    
  text-justify: center;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}


.googleLogo {
  background: var(--dark-purple);
  /* width: 30%; */
  display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 10px 0px 0px 10px;

}
.googleContainer{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
}

/*muro*/
.logoImagenHome{
  width: 40%;
/*  margin: 40% 0 20% 3%; */
} 
.logOutButton{
  /*margin-top: 7%;*/
  margin-right: 5%;
  width: 7%;
  height: 7%;
}

.wallView {
  background: var(--light-grey);
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerHomeView{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navIcon{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.navegationBar {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
position: fixed;
bottom: 0;
width: 100%;
/*
position: fixed;
bottom: 0;
max-width: 100%;
max-height: 30%;


bottom: 0;*/
background: var(--light-purple);
}

.navegationButton{
padding: 3%;
max-width: 35%;
}

.createPostView {
padding: 10%;
}
.createPostViewHeader{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.createPostViewTitle{
  font-size: 7vw;
  font-weight: 900;
}

.backButton{
 /* position: absolute;
  top: 5%;
  left: 5%;*/
  width: 30%;
}
.formContainer {
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.newPostFormContainer {
  width: 100%;
  /*margin: 8% 0% 8% 0%;*/
  background: rgba(224, 223, 253, 0.6);
  box-shadow: 0px 0px 14px 10px rgba(25, 32, 92, 0.25);
  border-radius: 10px; 
}
#postContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#newPostButton {
  border: 0.3vw solid var(--dark-purple);
  background: var(--light-purple);
  color: var(--dark-purple);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 40%;
  padding: 2.5%;
  border-radius: 20px;
  border-bottom: 1.2vw solid var(--dark-purple);
  font-size: 4vw;
  font-weight: 600;
  margin-bottom: 1vh;
  cursor: pointer;
}


.postArea {
  width: 100%;
  
}

.trashCan {
  width: 7%;
}

.editIcon {
  width: 7%;
  margin-right: 2%;
}
.star {
  width: 7%;
  margin-right: 2%;
}
.starsCount{
  font-size: 2rem;
  margin-right: 1%;
}

/*FORMATO POSTEO*/

.headPost {
display: flex;
flex-direction: row;
justify-content: end;
align-items: center;
height: 10%;

}

.postBox {
  margin-top: 5%;
  margin-bottom: 5%;
  height: 70%;
  width: 70%;
  background: rgba(224, 223, 253, 0.6);
  box-shadow: 0px 0px 14px 10px rgba(25, 32, 92, 0.25);
  border-radius: 10px;
  padding: 3%;
  cursor: pointer;
  word-wrap:break-word; 
}

@media (min-width: 900px) {
body {
  background: radial-gradient(circle at 10% 10%, #edecff, #eae9fe, #e2e0fd, #d7d4fa, #c9c4f7, #b9b2f3, #aaa0ee, #9b8fe9, #8f7fe4, #8473e0, #7d6add, #7b67dc);
  background-attachment: fixed;
}

/*welcome*/
.welcomeviewContainer{
  margin-top: 7%;
  padding: 0 0% 9% 0%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.welcomeLogoContainer {
  text-align: center;
  width: 40%;
}
.welcomeLoginButtonContainer {
  width: 35%;
  margin: 8% 0% 8% 0%;
  background: rgba(224, 223, 253, 0.6);
  box-shadow: 0px 0px 14px 10px rgba(25, 32, 92, 0.25);
  border-radius: 20px;
}
.welcomeLoginButton{
  width: 60%;
  padding: 2.5%;
  border-radius: 20px;
  border-bottom: 0.5vw solid var(--dark-purple);
  font-size: 1.7vw;
  font-weight: 600;
  margin-top: 7vh;
  margin-bottom: 0.2vh;
  cursor: pointer;
}

.signUpLink{
  color: var(--dark-purple);
  cursor: pointer;
  text-align: center;
}
.signUpText{
  margin: 2vw;
  margin-bottom: 5vh;
  width: 100%;
  font-weight: 600;
  color: var(--dark-grey);
  font-size: 1.5vw;
  text-align: center;
}

.logInLink {
  width: 100%;
}

/* LOG IN */
.logInViewContainer{
  padding: 0 0% 9% 0%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.logoContainer {
  width: 50%;
  text-align: center;
  } 

.logoImagen {
  width: 60%;
}
.buttonsContainer {
  width: 75%;
}
.actionButton {
  font-size: 1.5rem;
}
.moveButton {
  font-size: 1.5rem;
}
.totalButton{
  font-size: 1.5rem;
  }
.googleImage {
    width: 37%;
}
input {
  width: 100%;
  padding: 1vh;
  border: none;
  background: #f0eeff;;
  border-bottom: 0.3vh solid var(--dark-purple);
  box-shadow: 0px 0px 2px rgba(30, 31, 79, 0.2);
  margin-bottom: 5%;
  font-size: 1.5rem;
}
#password2 {
width: 100%;
}

input:focus {
  border-color: #fc83bb;
  outline: none;
}

.submitButton {
  width: 70%;
  font-size: 2vw;
  border-bottom: 0.7vw solid var(--dark-purple);
  margin: 0 20% 0 15%;
  justify-content: center;
}

.wrapper{
  margin-top: 5%;
  /*margin-bottom: 5%;*/
  margin-left: 3%;
  height: 70%;
  width: 35%;
  background: rgba(224, 223, 253, 0.6);
  box-shadow: 0px 0px 14px 10px rgba(25, 32, 92, 0.25);
  border-radius: 10%;
  cursor: pointer;
}

.googleContainer{
  margin-top: 5%;
}

/* SIGN UP*/

.signUpViewContainer{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.logoContainerSignUp {
  width: 50%;
  text-align: center;
}
.logoImagenSignUp {
  width: 60%;
}

.wrapperMedia{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 3%;
  height: 70%;
  width: 35%;
  background: rgba(224, 223, 253, 0.6);
  box-shadow: 0px 0px 14px 10px rgba(25, 32, 92, 0.25);
  border-radius: 10%;
  cursor: pointer;
}

/* HOME*/
.wallView{
  max-height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerHomeView{
  display: flex;
  flex-direction: row;
}

#trashCan{
  width: 20px;
}
.navegationBar{
  display: flex;
  max-height: 13%;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  top: 0;
  background: var(--light-purple);
  }
  
  .navegationButton{
  max-width: 35%;
  }

  .logoImagenHome{
    width: 10%;
  /*  margin: 40% 0 20% 3%; */
  }


.footer{
  font-size: 1.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-items: flex-end;
  margin: 0;
  width: 60%;
  position: fixed;
  bottom: 0;
}

p{
  font-size: 2vw;
}}     