@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;0,700;1,600&family=Nunito:wght@200;300;600;800&display=swap');

:root {
  --title-font: 'Josefin Sans', sans-serif;
  --body-font: 'Nunito', sans-serif;
  --light-purple: #e0dffd;
  --dark-purple: #7766c6;
  --yellow: #ffc212;
  --non-black: #2c2d30;
  --blue: #46467a;
  --pink: #f9b0c3;
  --light-grey: #ecedf2;
  --dark-grey: #787883;
  --accent-purple: #C1BBED;
}

* {
 /* outline: 1px solid limegreen !important;*/
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  box-sizing: border-box;
}
root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  /*height: 100%;
    width: 100%;*/
  background-color: var(--light-purple);
}

.welcomeLogoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.welcomeLogoImagen {
  width: 75%;
}

.logInLink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

.welcomeLoginButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.welcomeLoginButton {
  border: 0.3vw solid var(--dark-purple);
  background: var(--light-purple);
  color: var(--dark-purple);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 75%;
  padding: 2.5%;
  border-radius: 20px;
  border-bottom: 1.2vw solid var(--dark-purple);
  font-size: 5vw;
  font-weight: 600;
  margin-bottom: 1vh;
  cursor: pointer;
}
p {
  font-weight: 600;
  color: var(--dark-grey);
  font-size: 4vw;
  text-align: center;
}
a {
  color: var(--dark-purple);
  cursor: pointer;
  padding:5% 3% 5% 3%;

}
.buttonHref {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.footerView {
  margin-top: 10%;
}

/* .footer {
  display: flex;
  justify-content: center;
  align-items: bottom;
  margin-top: 50%;
} */
.logoImagen {
  width: 50%;
}
.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  margin-left: 10%;
  width: 80vw;
  /*height: 100vh;*/
  background-color: none;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modalForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.userForm{
  width: 80%;
}
.eyeContainer{
position: absolute;
left: 80%;
top: 39%;
}

#openEye{
display: none;
}
.buttonsContainer {
  width: 65%;
  /*padding:7% 10% 7% 10%;*/
  background-color: var(--dark-purple);
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: 10px;
  color: var(--light-purple);
  white-space: nowrap;
}
.actionButton {
  /* padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%; */
  /*padding: 3em;*/
  /*width: 50%;*/
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 10px;
  color: var(--light-purple);
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
}
.moveButton {
  position: absolute;
  width: 50%;
  height: 90%;
  margin: 0.5%;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: var(--light-purple);
  color: var(--dark-purple);
  font-size: 2rem;
  font-weight: 600;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translateX(0);
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  text-align: center;
}
.buttonLink {
  width: 50%;
  text-align: center;
}
.rightButton {
  transform: translateX(98%);
  transition: all 0.5s ease-in-out;
}
.inputGroup {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   margin-top: 2em;
}
input {
  width: 100%;
  padding: 2vh;
  border: none;
  background: transparent;
  border-bottom: 0.3vh solid var(--dark-purple);
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 5%;
  font-size: 2rem;
}

input:focus {
  border-color: #fc83bb;
  outline: none;
}

.submit {
  width: 100%;
  padding: 1em;
}
.submitButton {
  border: 0.3vw solid var(--dark-purple);
  background: var(--light-purple);
  color: var(--dark-purple);
  /* display: flex;
  justify-content: center;
  align-items: center; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 2.5%;
  border-radius: 0.5em;
  border-bottom: 1.2vw solid var(--dark-purple);
  font-size: 5vw;
  font-weight: 600;
  /*margin: 1vh;*/
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 10%;
}
.googleButton{
background: var(--accent-purple);
border: none;
border-radius: 0px 10px 10px 0px;

}
.googleImage{
width: 47%;
}

.totalButton{
  margin-top: 1vh;
  outline: none;
  padding: 2%;
  color: var(--dark-purple);
  font-size: 2rem;
  background-color:var(--accent-purple);
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;    
  text-justify: center;
  /*border: 5px solid var(--dark-purple);*/
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}


.googleLogo {
  background: var(--dark-purple);
  /* width: 30%; */
  display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 10px 0px 0px 10px;

}
.googleContainer{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
/* border: 5px solid var(--dark-purple);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-bottom: 1.2vw solid var(--dark-purple); */
/*
width: 75%;
padding: 2.5%;
border-radius: 20px;

font-size: 5vw;
font-weight: 600;
margin-bottom: 1vh; */
}

@media (min-width: 900px) {
.welcomeviewContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
 /* grid-auto-rows: minmax(auto , auto);*/
}
.welcomeLoginButton{
  width: 55%;
  padding: 2.5%;
  border-radius: 20px;
  border-bottom: 0.7vw solid var(--dark-purple);
  font-size: 2vw;
  font-weight: 600;
  margin-top: 20vh;
  margin-bottom: 0.2vh;
  cursor: pointer;
}
.footer{
  grid-column: 1 / 3;
  grid-row: 2;
  font-size: vw;
}
p{
  font-size: 2vw;
}
}